{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-2 pr-4 mr-4">
        <details>
            <summary>
                Blog Posts
            </summary>
            <p>Click <a href="{% url 'posts' %}">Here</a> to find our latest blog posts</p>
        </details>

        <details>
            <summary>Create a Post</summary>
            <p>Click <a href="{% url 'post_new' %}">here</a> to crete a new post</p>
        </details>
    </div>
    <div class="col-10 text-center">
        <h1>Welcome!</h1>
        <p>
            Welcome to the Salesforce blog spot! Glad you're here, and I hope you'll learn some interesting facts about Salesforce!
        </p>
    </div>
</div>
{% endblock content %}
